<div ng-controller="homeController as ctrl" class="home-view" layout="column">
	<div>
		<div ng-class="class" class="nopad">
			<div>
		        <div style="height:calc(100vh - 64px); " id="map"></div> 		
		    </div>
	    </div> 
	    <div layout="column" ng-class="card">
		    <div ng-show="showResponse" style="max-height: 80px!important;">
		    	<h3 style="font-weight:bold; margin: 10px 0 0;" class="md-headline">Respuesta Alexa</h3>
				<span class="md-subhead" style="font-style: italic;">"{{respuestaAlexa}}"</span>
			</div>
		    <div ng-show="aditionalInfo">
				<div>
					<h3 style="font-weight:bold" class="md-headline">{{title}}</h3>
				</div>
				<div class="map-card">
			        <div ng-show="indications" id="right-panel"></div>		
			        <div ng-show="!indications" ng-repeat="info in places" class="info-adicional">
			        	<md-divider ng-show="labels[$index] != 'A'"></md-divider>
		        		<h4>Lugar: {{ labels[$index] }}</h4>
		        		<span><img src="images/place.png"/> {{ info.name }} </span>
		        		<span><img src="images/location.png"/> {{ info.address }} </span>
		        		<span ng-show="labels[$index] != 'A'"><img src="images/phone.png"/> {{ info.phoneNumber }}</span>
		        		<span ng-show="labels[$index] != 'A'"><img src="images/website.png"/> {{ info.website }}</span>
		        		<span ng-show="info.openHSDo != 'Información no disponible' && labels[$index] != 'A'">
		        			<img src="images/clock.png"/>
		        			<strong>Horario de atención:</strong>
		        		</span>
		        		<ul ng-show="info.openHSDo != 'Información no disponible' && labels[$index] != 'A'">
		        			<li>{{ info.openHSDo }}</li>
			        		<li>{{ info.openHSLu }}</li>
			        		<li>{{ info.openHSMa }}</li>
			        		<li>{{ info.openHSMi }}</li>
			        		<li>{{ info.openHSJu }}</li>
			        		<li>{{ info.openHSVi }}</li>
			        		<li>{{ info.openHSSa }}</li>
		        		</ul>
		        	</div>
			    </div>
		    </div>
	    </div>
    </div>
</div>
